:root {
  --primary: #f1c40f;       
  --secondary: #1a252f;     
  --bg-light: #f8f9fa;      
  --white: #ffffff;         
  --transition: 0.3s ease;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-light);
  color: var(--secondary);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary);
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
}

.logo-circle {
  stroke: var(--primary); /* Можешь использовать свою переменную! */
  stroke-width: 6px;      /* Толщина линии */
  transition: stroke 0.3s ease; /* Бонус: теперь линию можно плавно анимировать при наведении! */
  stroke: rgb(0, 0, 0)
}

/* Эффект: при наведении на логотип кружок станет зеленым */
.logo-circle:hover {
  stroke: #2ecc71; 
; 
; 
; 
}


.nav-menu {
  display: flex;
  list-style: none;
  
  text-align: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  text-decoration: none !important;
  color: var(--secondary);
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-menu a:hover {
  color: var(--white);
}

.btn-start {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary);
  color: var(--white);
  list-style: none;
  text-decoration: none !important;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-start:hover {
  background-color: var(--white);
  color: var(--secondary)
}

.hero-section {
  background-color: var(--secondary);
  color: var(--white);
  max-width: 1200px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
}


.hero-section h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.9;
}

.btn-hero {
  display: inline-block;
  background-color: var(--primary);
  color: var(--secondary);
  list-style: none;
  text-decoration: none !important;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px;
  transition: transform var(--transition), background-color var(--transition);
}

.btn-hero:hover {
  transform: scale(1.05);
  color: var(--white);
  background-color: #e6bc00;
}

.hero-illustration {

}