/* 1. ПЕРЕМЕННЫЕ И СБРОС СТИЛЕЙ */
:root {                     /* пульт управления */
  --primary: #ffd000;     /* кнопоки, иконоки, навигация (хедера) и выделения активных ссылок */
  --secondary: #100d1f;   /* футер, секции Hero и на обычных кнопках */
  --bg-light: #f8fafc;    /* Светлый фон */
  --text-main: #334155;   /* текст меню */
  --white: #ffffff;       /* текст */
  --transition: 0.3s ease;  /* время анимацыи */
}

* {                         /* зброс настроек для всех браузеров */
  margin: 0;                /* отступы */
  padding: 0;               /* отступы */
  box-sizing: border-box; /* Чтобы отступы не раздували блоки а были посчитаны со всеми елементами 
                            тоесь таблицы и тд */
}

html {                      /* html скрол */
  scroll-behavior: smooth;  /* чтобы прокрутка при нажатии шла медленно */
}

body {                      /* для всего боди */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* шрифт */
  line-height: 1.6;         /* расстояние между строками текста */
  background-color: var(--bg-light);   /* : Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */ 
  color: var(--text-main);  /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
  display: flex;            /* Ставим элементы в ряд Внегласный включатель */
  flex-direction: column;   /* елементы друг под другом */
  min-height: 100vh;        /* Футер всегда внизу */
}

/* 2. НАВИГАЦИЯ */
header {                    /* шапка */
  background-color: var(--primary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */  
  padding: 15px 0;          /* внутренний отступ */
  position: sticky;         /* елемент который приклеевает
   меню и при скроллинге меню спускается вместе с зрителем */
  top: 0;                   /* напарник position: sticky и служит точкой
   фиксации чтобы меню не улитело вверх */
  z-index: 1000;            /* ставит меню на самый верхний слой */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);/* 0: Тень не смещается влево или вправо.
2px: Тень падает чуть-чуть вниз под меню.
10px: Тень мягко размывается.
rgba(..., 0.1): Очень слабая прозрачность (10%). */
}

nav {                        /* навигация шапки */
  display: flex;             /* Ставим элементы в ряд Внегласный включатель */
  justify-content: center;   /* ставим блок в центр */
}

.nav-links {                 /* навигация шапки */
  display: flex;             /* Ставим элементы в ряд Внегласный включатель */
  list-style: none;          /* убираем точки */   
  gap: 30px;                 /* одступы между текстом */
}

.nav-links a {                /* навигация шапки по ссылкам */
  text-decoration: none;      /* убирает подчеркивание */
  color: var(--secondary);    /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */   
  font-weight: bold;          /* жирность текста */  
  transition: color var(--transition);  /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста при привращении */    
}

.nav-links a:hover {          /* говорит при наведении сменить цвет */
  color: #ff0000;           /* сам цвет */
}   

/* 3. ГЛАВНЫЙ ЭКРАН (HERO) */
.hero {                       /* меню */
  background-color: var(--secondary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
  color: var(--white);        /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
  text-align: center;        /* текст по центру */
  padding: 120px 20px;       /* внутренний отступ со всех сторон */
}

.hero h1 {                    /* заголовок в меню */
    font-size: clamp(2rem, 5vw, 3.5rem); /* Адаптивный размер шрифта */
    margin-bottom: 20px;      /* внешний отступ с низу */
}

.btn-main {                   /* отсилка к контактам в меню */
  display: inline-block;      /*  кнопка стала ровно такой ширины, сколько занимает текст но при этом
   она позволила нам задать ей четкие размеры и отступы сверху/снизу. */
  background-color: var(--primary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
  color: var(--secondary);    /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
  padding: 15px 35px;
  margin-top: 50px;    /* внутренний отступ со всех сторон */
  text-decoration: none;      /* убирает подчеркивание */
  border-radius: 8px;         /* округление краев */
  font-weight: bold;          /* жирность текста */
  transition: transform var(--transition), background-color var(--transition);/* Инструкция заглянуть
   в начало CSS-файла и взять значение, которое записано в рут и сделать его цветом 
   фона при привращении */
}

.btn-main:hover {            /* говорит при наведении увеличется и сменить цвет */
    transform: scale(1.05);  /* увеличение */
    background-color: #e6bc00;/* цвет фона */
}

/* 4. КАРТОЧКИ УСЛУГ */
.services {                 /* услуги */
    padding: 80px 20px;     /* внутренний отступ со всех сторон */
    max-width: 1200px;      /* ограничения ширины */
    margin: 0 auto;         /* розделения пространства екрана сверху и снизу 0
     а по бокам автоматически розделение по полам */
    text-align: center;     /* центрирование текста */
}

.cards {                    /* коробка для карточек */
  display: flex;            /* Ставим элементы в ряд Внегласный включатель */
  flex-wrap: wrap;          /* адаптирует карточки к телефону или планшету и 
  превращает жесткую шеренгу элементов в гибкий поток. */
  justify-content: center;  /* ставим блок в центр */
  align-items: stretch; /* Карточки будут одной высоты */
  gap: 30px;                /* одступы между текстом */
  margin-top: 50px;         /* создает внешний отступ сверху от элемента */
}

.card {                     /* карточка */
  background: var(--white); /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
  width: 320px;             /* ширина карточки не больше */
  padding: 0; /* Убираем падинг, чтобы картинка была в край */
  border-radius: 15px;      /* округление */
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);/* 0: Тень не смещается влево или вправо.
10px: Тень падает чуть-чуть вниз под меню.
30px: Тень мягко размывается.
rgba(..., 0.1): Очень слабая прозрачность (10%). */
  display: flex;            /* Ставим элементы в ряд Внегласный включатель */
  flex-direction: column; /* Контент внутри в столбик */
  overflow: hidden;         /* вырезает выходящее за край */
  transition: transform var(--transition);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста при привращении */
}

.card:hover {               /* говорит при наведении двинутса вверх */
    transform: translateY(-10px); /* движение вверх */
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);/* 0: Тень не смещается влево или вправо.
15px: Тень падает чуть-чуть вниз под меню.
40px: Тень мягко размывается.
rgba(..., 0.1): Очень слабая прозрачность (10%). */
}

/* ОГРАНИЧЕНИЕ КАРТИНКИ для одинакового розмира */
.card-img {                 /* отвечает за коробку для картинки */
    width: 100%;            /* рамка должна зайнять все 100% своей коробки */
    height: 200px; /* высота фото  не более */
    overflow: hidden;       /* вырезает выходящее за край */
}

.card-img img {             /* отвечает за картинку */
  width: 100%;              /* картинка должна зайнять все 100% своей ширины в коробки */
  height: 100%;             /* картинка должна зайнять все 100% своей высоты в коробки */
  object-fit: cover; /* Заполняет блок без искажений */
  display: block;           /* превращает в блок чтобы отступ убрался ведь по умолчанию img строчный
   елемент а значит будет небольшая щель снизу а блок ее уберет */
}

.card h3 {                  /* отвечает за заголовок */
    padding: 20px 15px 10px;/* отступ со всех сторо. верх, право, низ, лево-от-право */
    color: var(--secondary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
}

.card p {                   /* отвечает за абзац */
    padding: 0 20px 20px;   /* отступ со всех сторо. верх, право, низ, лево-от-право */
    flex-grow: 1; /* Выталкивает кнопку всегда в самый низ */
    font-size: 0.95rem;     /* Адаптивный размер шрифта */
    color: var(--text-light);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
}

.btn-card {                 /* отвечает за кнопку */
  margin: 0 20px 25px;      /* отступ со всех сторо. верх, право, низ, лево-от-право */
  padding: 12px;            /* отступ со всех сторо. верх, право, низ, лево-от-право */
  border: none;             /* убрать рамки */
  background: var(--secondary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
  color: var(--white);      /* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */
  border-radius: 8px;       /* округление */
  font-weight: bold;        /* жирный текст */
  cursor: pointer;          /*  превращение в руку указатель */
  transition: var(--transition);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста при привращении */
}

.btn-card:hover {           /* говорит при наведении сменить цвет */    
    background: var(--primary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
    color: var(--secondary);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом текста */ 
}

/* 5. СЕКЦИЯ ОБО МНЕ */
.about {                    /* общий блок Обо мне */
  background: var(--white);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
  padding: 100px 20px;     /* отступы внутренние */ 
  text-align: center;      /* текст по центру */ 
}

.about .container { max-width: 800px; margin: 0 auto; }/* контейнер для заголовка и абзаца */
.about h2 { margin-bottom: 30px; font-size: 2.5rem; }/* заголовок, внешний отступ с низу, адаптив */

/* 6. КОНТАКТЫ И ФОРМА */
.contact {                 /* общий блок контакты */     
    padding: 100px 20px;    /* отступы */      
    background-color: var(--bg-light);/* Инструкция заглянуть в начало CSS-файла и взять значение,
   которое записано в рут и сделать его цветом фона */
}

/*  Главный контейнер контактов делаем столбиком */
.contact-container {        /* блок контакты */
    display: flex;          /* Ставим элементы в ряд Внегласный включатель */
    flex-direction: column; /* всё встает друг под друга */
    align-items: center;    /* Центрируем и текст, и форму по горизонтали */
    gap: 40px;              /* Расстояние между текстом и началом формы */
    max-width: 800px;       /* Ограничим ширину, чтобы форма не растянулась на весь экран */
    margin: 50px auto 0;    /* Центрируем весь блок на странице */
}

/*  Текст делаем по центру */
.contact-info {             /* контейнер для контакта телеги */
    text-align: center;     /* текст по центру */
    width: 100%;            /* фон должен зайнять все 100% своей ширины в коробки или родителе */
}

/* Форму тоже на всю доступную ширину контейнера */
.contact-form {             /* контейнер для отправки данных */
    width: 100%;            /* фон должен зайнять все 100% своей ширины в коробки или родителе */
}

.section-title {            /* для текста */
    text-align: center;     /* по центру */
}

.form-group { margin-bottom: 25px; text-align: left; }/* контейнер для поля, отступ, центр текста */

.form-group label {         /* подпись (название) для поля ввода */
    display: block;         /* строку в блок */
    margin-bottom: 10px;     /* отступ снизу */   
    font-weight: bold;      /* жирность... */
    color: var(--secondary);/* инструкция... */    
}

.form-group input, .form-group textarea {/* Обращение к однострочным полям (input) 
  и многострочным (textarea) */
  width: 100%;             /* ширина на весь блок */ 
  padding: 15px;           /* отступы */     
  border: 1px solid #cbd5e1;/* рамка */
  border-radius: 10px;     /*округление  */     
  font-family: inherit;     /* розмер шрифта при наборе */
  font-size: 1rem;          /* адаптивность */
}

.form-group input:focus, .form-group textarea:focus {/*  состояния фокуса, которая срабатывает
   при нажатии на поле */
    outline: none;          /* Убираем стандартную синюю обводку браузера */    
    border-color: var(--primary);/* кольор рамки */
}

.btn-submit {               /* отправка сообшение */
  width: 100%;              /* ширина на весь блок */    
  padding: 18px;            /* отступы внутри */    
  background: var(--secondary);/* кольор фона */
  color: var(--white);      /* кольор текста */    
  border: none;             /* убираем рамку */
  border-radius: 10px;      /* округление */
  font-weight: bold;        /* жирность текста */    
  font-size: 1rem;          /* адаптивность */    
  cursor: pointer;          /*  превращение в руку указатель */    
  transition: all var(--transition);/*  */
}

.btn-submit:hover {          /* активация */   
    background: var(--primary);/* кольор фона */     
    color: var(--secondary); /* колир текста */       
    transform: translateY(-2px);/* плавное превращение */    
}

/* 7. ФУТЕР */
footer {                    /* футер */    
  background: var(--secondary);/* кольор фона */
  color: var(--white);      /* кольор текста */    
  text-align: center;       /* центр текста */    
  padding: 50px 20px;       /* отступы внутри */    
  margin-top: auto;         /* Прижимает к низу */
}

footer small {              /* текст футера */
    display: block;         /* строки в блок */   
    margin-top: 15px;       /* внешний отступ сверху */   
    opacity: 0.7;           /* прозрачность  */   
}

/* АДАПТИВНОСТЬ */
@media (max-width: 768px) { /* адаптивность */    
    .nav-links { gap: 20px; }       
    .hero h1 { font-size: 2.5rem; } 
    .contact-container { gap: 30px; }
}